
.transaction-table {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.transaction-head-wrapper {
    width: 100%;
    background-color: #333333;
}

.transaction-head {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.transaction-head-item {
    color: #fff;
    border: 1px solid #000;
    width: 100%;
    padding: 6px 0;
}

.transaction-body-wrapper {
    width: 100%;
    background-color: #fafafa;
}

.transaction-body {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.transaction-body-item {
    text-align: start;
    border: 1px solid #000;
    width: 100%;
    padding: 6px 70px;
}

.transaction-body:nth-child(2n+2) {
    background-color: #a3a3a3;
}